<h1>Peliculas</h1>

<p>Listado de Peliculas</p>

<%= link_to 'Nueva Pelicula', new_movie_path %>

<table class="table table-hover">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Sinopsis</th>
      <th scope="col">Director</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.name %></td>
      <td><%= movie.synopsis %></td>
      <td><%= movie.director %></td>
      <td>
        <%= link_to 'Ver', movie_path(movie) %>
    </tr>
  <% end %>
</table>
