<h1>Pelicula: <%= @movie.name %></h1>
<ul>
    <li>Nombre: <%= @movie.name %></li>
    <li>Sinopsis: <%= @movie.synopsis %></li>
    <li>Director: <%= @movie.director %></li>
</ul>

<%= link_to 'Volver', movies_path %>