<h1>Series</h1>

<p>Listado de Series</p>

<%= link_to 'Nueva Serie', new_serie_path, class: "btn btn-warning my-1" %>

<table class="table table-hover">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Sinopsis</th>
      <th scope="col">Director</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <% @series.each do |serie| %>
    <tr>
      <td><%= serie.name %></td>
      <td><%= serie.synopsis %></td>
      <td><%= serie.director %></td>
      <td>
        <%= link_to 'Ver', serie_path(serie), class: "btn btn-primary" %>
    </tr>
  <% end %>
</table>
