<h1>Serie: <%= @serie.name %></h1>
<ul>
    <li>Nombre: <%= @serie.name %></li>
    <li>Sinopsis: <%= @serie.synopsis %></li>
    <li>Director: <%= @serie.director %></li>
</ul>

<%= link_to 'Volver', series_path %>