<h1>Documentales</h1>

<p>Listado de Documentales</p>

<%= link_to 'Nuevo documental', new_documentary_film_path, class: "btn btn-warning my-1" %>

<table class="table table-hover">
  <thead class="table-dark"> 
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Sinopsis</th>
      <th scope="col">Director</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <% @documentary_films.each do |documentary_film| %>
    <tr>
      <td><%= documentary_film.name %></td>
      <td><%= documentary_film.synopsis %></td>
      <td><%= documentary_film.director %></td>
      <td>
        <%= link_to 'Ver', documentary_film_path(documentary_film), class: "btn btn-primary" %>
    </tr>
  <% end %>
</table>
