<h1>Agregar Documental</h1>

<%= form_with model: @documentary_film do |form| %>
<div class="col-4">
    <div>
        <%= form.label :name, "Nombre", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
    </div>
    <div>
        <%= form.label :synopsys, "Sinopsis", class: "form-label" %>
        <%= form.text_field :synopsis, class: "form-control" %>
    </div>
    <div>
        <%= form.label :director, "Director", class: "form-label" %>
        <%= form.text_field :director, class: "form-control" %>
    </div>
    <div>
        <%= form.submit "Agregar", class: "btn btn-primary my-2" %>
    </div>
</div>
<% end %>

<div>
    <%= link_to 'Volver', documentary_films_path, class: "btn btn-primary my-2" %>
</div>