<h1>Documental: <%= @documentary_film.name %></h1>
<ul>
    <li>Nombre: <%= @documentary_film.name %></li>
    <li>Sinopsis: <%= @documentary_film.synopsis %></li>
    <li>Director: <%= @documentary_film.director %></li>
</ul>

<%= link_to 'Volver', documentary_films_path, class: "btn btn-primary" %>